<div class="table-responsive">
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Year</th>
          <th scope="col">Artist</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @albums.each do |album| %>
          <tr>
            <td><%= album.name %></td>
            <td><%= album.year %></td>
            <td><%= album.artist %></td>
            <td><%= link_to 'Show', album, :class => "btn btn-success" %></td>
            <td><%= link_to 'Edit', edit_album_path(album), :class => "btn btn-warning" %></td>
            <td><%= link_to 'Delete', album, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <small class="new_album" ><%= link_to 'New Album', new_album_path, :class => 'btn btn-dark' %></small>
  </div>
</div>

<br>
